html {
   overflow: -moz-scrollbars-vertical;
   overflow-y: scroll;
   font-family: verdana,arial,helvetica,sans-serif;
   font-size: 18px;
   color: #444;
   height: 100%;
   position: relative;
}
a {
   color: inherit;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.body {
    margin: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 600;
    height: 400;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%) 
}
.link {
   padding: 20px;
   text-align: center;
}

